@model WebApp.Models.AppointmentDefinition

@{
    ViewData["Title"] = "Delete";
}

@* <h1>Delete</h1> *@

<h3>Are you sure you want to cancel the appointment?</h3>
<div>
    @* <h4>AppointmentDefinition</h4> *@
    <hr />
    <dl class="row">
        @* <dt class="col-sm-2">Appointment #</dt>
        <dd class="col-sm-10">@Model.AppointmentDefinitionID</dd> *@
        <dt class="col-sm-2">Patient Name</dt>
        <dd class="col-sm-10">@Model.PatientName</dd>
        <dt class="col-sm-2">Identification Number</dt>
        <dd class="col-sm-10">@Model.IdentificationNumber</dd>
        <dt class="col-sm-2">Polyclinic</dt>
        <dd class="col-sm-10">@Model.Polyclinic?.PolyclinicName</dd>
        <dt class="col-sm-2">Doctor</dt>
        <dd class="col-sm-10">@Model.Doctor?.DoctorName</dd>
        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date?.Date.ToString("yyyy-MM-dd")</dd>
        <dt class="col-sm-2">Time</dt>
        <dd class="col-sm-10">@Model.Time?.AppointmentTimes</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
